<div>
  <h2 id="page-heading" data-cy="SeedHeading">
    <span>Seeds</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <a class="btn btn-primary jh-create-entity create-seed" [routerLink]="['/seed/new']">
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Seed </span>
      </a>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="seeds?.length === 0">
    <span>No seeds found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="seeds && seeds.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cropType"><span>Crop Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="region"><span>Region</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rainfallPattern"><span>Rainfall Pattern</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="waterRequirementMmToEstablish">
            <span>Water Requirement (mm) to Establish</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="notes"><span>Notes</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let seed of seeds; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/seed', seed.id, 'view']">{{ seed.id }}</a>
          </td>
          <td>{{ seed.name }}</td>
          <td>{{ seed.cropType }}</td>
          <td>{{ seed.region }}</td>
          <td>{{ seed.rainfallPattern }}</td>
          <td>{{ seed.waterRequirementMmToEstablish }}</td>
          <td>{{ seed.notes }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/seed', seed.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </a>

              <a [routerLink]="['/seed', seed.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </a>

              <button type="submit" (click)="delete(seed)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="seeds && seeds.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
